.list-item {
  display: flex;
  justify-content: space-between;
}
.title {
  font-weight: 500;
  font-size: 16px;
  color: #12022f;
}
.description {
  font-size: 12px;
  color: #9aa5b1;
}
.date {
  font-size: 12px;
  color: #9aa5b1;
}
.sec-1 {
  width: 70%;
}
